/* Блок "О нас" */
.aboutSectionTitle {
  color: #000;
  font-size: 48px;
  width: 100%;
  text-align: center;
  margin-top: 57px;
  margin-bottom: 100px;
  padding-bottom: 55px;
  border-bottom: 1px solid #000;
}
.aboutItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.aboutItem:nth-child(2) {
  flex-direction: row-reverse;
}
.aboutText {
  max-width: 546px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .aboutItem {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
/* Блок "Наши сильные стороны" */
.strengthsSection {
  background-color: #1c1a1b;
}

.strengthsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.strengthsContent {
  max-width: 741px;
  width: 100%;
  margin: 80px auto 0 auto;
}

.strengthsContent h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 140px;
}

.strengthsBox {
  background-color: #141414;
  border: 1px solid #262626;
  box-shadow: 0 0 0 10px rgba(25, 25, 25, 0.2);
  border-radius: 12px;
  padding: 60px;
}

.strengthsRow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #262626;
}

.strengthsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.strengthsItem:hover {
  transform: scale(1.02);
}

.strengthsItem p {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  max-width: 196px;
}

.strengthsSeparator {
  height: auto;
  width: 1px;
  background-color: #262626;
}

.strengthsIcon {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #141414;
  border: 1px solid #4b4949;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}

.strengthsIcon:hover {
  background-color: #2a2a2a;
}

.strengthsBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.strengthsBottom p {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
