/* Блок "О нас" */
.aboutSectionTitle {
  color: #000;
  font-size: 48px;
  width: 100%;
  text-align: center;
  margin-top: 57px;
  margin-bottom: 100px;
  padding-bottom: 55px;
  border-bottom: 1px solid #000;
}
.aboutItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.aboutItem:nth-child(2) {
  flex-direction: row-reverse;
}
.aboutText {
  max-width: 546px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .aboutItem {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
/* Блок "Наши сильные стороны" */
.strengthsSection {
  background-color: #1c1a1b;
}

.strengthsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.strengthsContent {
  max-width: 741px;
  width: 100%;
  margin: 80px auto 0 auto;
}

.strengthsContent h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 140px;
}

.strengthsBox {
  background-color: #141414;
  border: 1px solid #262626;
  box-shadow: 0 0 0 10px rgba(25, 25, 25, 0.2);
  border-radius: 12px;
  padding: 60px;
}

.strengthsRow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #262626;
}

.strengthsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.strengthsItem:hover {
  transform: scale(1.02);
}

.strengthsItem p {
  color: #fff;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  max-width: 196px;
}

.strengthsSeparator {
  height: auto;
  width: 1px;
  background-color: #262626;
}

.strengthsIcon {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #141414;
  border: 1px solid #4b4949;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}

.strengthsIcon:hover {
  background-color: #2a2a2a;
}

.strengthsBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.strengthsBottom p {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
/* блок "команда разработчиков" */
.TeamTitle {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.card {
  max-width: 420px;
  width: 100%;
  padding: 24px;
  min-height: 450px;
  border: 1px solid #262626;
  border-radius: 12px;
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  width: 100%;
  min-height: 220px;
}
.image a {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}
.cardText {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.cardText h3 {
  color: #000000;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.cardText p {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 50px;
  max-width: 365px;
  width: 100%;
  min-height: 56px;
  padding-right: 10px;
  transition: 0.3s;
}
.input {
  padding: 10px 20px;
  max-width: 280px;
  width: 100%;
  background-color: #1a1a1a;
  border: none;
  position: relative;
  color: white;
}
.input:focus {
  border: none;
  outline: none;
}
.inputWrapper:hover {
  border: 1px solid rgb(0, 89, 255);
}
.inputWrapper:focus-within {
  border: 1px solid rgb(0, 255, 21);
}
.inputWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #703bf7;
}
